@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	list-style: none;
}

/* CUSTOM */
.hidden {
	display: none;
}

header {
	background-color: wheat;
	text-align: center;
	padding: 24px 0px;
}

header > .title {
	font-size: 36px;
}

header > .sub-title {
	font-size: 28px;
}

body {
	position: relative;
}

.main-container {
	background-color: rgb(255, 217, 203);
	/* height: calc(100vh - 136px); */
	height: 100vh;
	display: flex;
}

.side-bar {
	flex: 2;
	width: 240px;
	border: 1px solid #000;
	height: calc(100vh - 136px);
	z-index: 20;
	height: 100vh;

}

.actions-tab {
	background-color: #e7fffd;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.actions-tab > li {
	/* background-color: rgb(189, 237, 255); */
	text-align: center;
}

.actions-tab > li > .action-btn {
	padding: 12px;
	background-color: rgb(135, 255, 211);
	font-size: 20px;
	width: 80%;
	cursor: pointer;
}


#logs {
	background-color: aliceblue;
	position: fixed;
	width: 16%;
	height: 40%;
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 12px;
	overflow-y: scroll;
}

#logs > h2 {
	position: fixed;
	padding: 12px;
	background-color: rgb(184, 255, 188);
	top: 0px;
	left: 0px;
	width: calc(16% - 16px);
}

#logs > p.actionTook.chosen {
	background-color: rgb(255, 158, 68);
	padding: 6px 2px;
}

.displayer {
	position: relative;
	flex: 10;
	float: left;
	background-color: rgb(211, 254, 234);
	height: 100%;
	width: calc(100% - 240px);
	/* border-radius: 16px; */
	z-index: 5;
}

.node {
	position: absolute;
	/* background-color: #e3feef; */
}
.node > text {
	cursor: move;
}
.node > circle {
	fill: rgb(255, 160, 125);
	cursor: move;
}

.node > circle.selected {
	fill: rgb(139, 255, 129);

}

.node > rect {
	fill: rgb(32, 55, 37);
}

.node.active > circle {
	fill: rgb(255, 201, 250);
}

.line-container {
	position: absolute;
	/* background-color: cornflowerblue; */
}

.line-container > .line {
	stroke: rgb(201, 201, 201);
	stroke-width: 4;
}

.line-container > line.selected {
	stroke: rgb(112, 255, 124);
	stroke-width: 4;
}

.line-container > line.active {
	stroke: rgb(112, 138, 255);
	stroke-width: 5;
}

.line-container > line.chosen {
	stroke: rgb(255, 112, 112) !important;
	stroke-width: 4;
}

.line-container > text {
	font-size: 20px;
	font-weight: 800;
	fill: #000000;
	text-anchor: middle;
	background-color: #000;
}

.node-table {
	position: absolute;
	background-color: rgb(238, 255, 176);

	/* border: 1px solid #000; */
}

.node-list {
	/* border: 1px solid #000; */


}

.dist-table {
	/* border: 1px solid #000; */

}

.dist-table td {
	border: 1px solid #000;
	padding: 4px;
}

.report-temp {

}

.warning {
	position: fixed;
	right: 20px;
	top: 20px;
	background-color: aliceblue;
	box-shadow: 4px 4px 12px #000000;
	padding: 20px;
	display: none;
}

.warning.activate {
	display: block;
	animation: fadeInOut ease-in-out 3000ms forwards;
}

@keyframes fadeInOut {
	from {
		opacity: 0;
	}

	20% {
		opacity: 0.9;
	}

	50% {
		opacity: 1;
	}

	80% {
		opacity: 0.9;
	}

	to {
		opacity: 0;
	}
}

